
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between">
            <% const year = new Date().getFullYear() %>
            <div class="text-white">Copyright &copy; Your Website <%= year %></div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="/js/script.js"></script>

</body>
</html>